@media screen and (max-width: 760px){
  Header {
    flex-direction: column;
  }

  main {
    flex-direction: column;
  }

  h2 {
    font-size: 38px;
  }
  form {
    margin: 0 auto;
    width: 100%;
  }

  input {
    align-self: center;
  }

  img {
    margin-left: 65px;
    width: 300px;
    margin-top: 60px;
  }

  ul {
    text-align: center;
  }
}
